---
import ImageList from "../components/ImageList.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<ImageList client:load/>
	</main>
</Layout>
